body{
  text-align: center;
}
.outer{
  border: 1px solid black;
  height: 1rem;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;

}
.inner{
  /* width: 50%; */
  height: 1rem;
  background-color: green;
  text-align: right;
  transition: 0.5s ease-in;
  
}
h1{
  text-align: center;
}